<div>
    <h1 style="font-size:50px; text-align: center; color:white; margin:10px; font-family: 'Lobster 1.4';">Запри, издиши се и продолжи!</h1>
    <div style="margin-top: 100px; margin-right: 150px;">
        <a href="/login" class="btn" style="text-align: center; float: right; background-color: #2E2F32; opacity: 0.54; color: white; font-size: 20px; padding-top: 15px; font-family: 'Mohave',serif; width: 180px; height: 60px;">Најави се</a>
        <br>
        <a href="/register" class="btn" style="text-align: center; float: right; background-color: #2E2F32; opacity: 0.54; color: white; font-size: 20px; margin-top: 100px; margin-right: -180px; padding-top: 15px; font-family: 'Mohave',serif;  width: 180px; height: 60px">Регистрирај се</a>
    </div>
</div>