<div class="wrapper">
  <div class="d-flex flex-column flex-shrink-0 bg-light" style="width: 7.5rem; display: flex; height: 500px">
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
      <li class="nav-item">
        <a href="/home" class="nav-link py-3 border-bottom" aria-current="page" title="Home" data-bs-toggle="tooltip" data-bs-placement="right">
          <i class="fa fa-home fa-3x"></i>
        </a>
      </li>
      <li>
        <a href="/calming-sounds" class="nav-link active py-3 border-bottom" title="Calming Sounds" data-bs-toggle="tooltip" data-bs-placement="right">
          <i class="fa fa-music fa-3x"></i>
        </a>
      </li>
      <li>
        <a href="/breathing-exercises" class="nav-link py-3 border-bottom" title="Breathing exercises" data-bs-toggle="tooltip" data-bs-placement="right">
          <img src="https://image.flaticon.com/icons/png/512/188/188427.png" width="39" height="42"/>
        </a>
      </li>
      <li>
        <a href="/mental-health-diary" class="nav-link py-3 border-bottom" title="Mental health diary" data-bs-toggle="tooltip" data-bs-placement="right">
          <i class="fa fa-book fa-3x"></i>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link py-3 border-bottom" title="Boenje slika" data-bs-toggle="tooltip" data-bs-placement="right">
          <i class="fa fa-paint-brush fa-3x"></i>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link py-3 border-bottom" title="Forum" data-bs-toggle="tooltip" data-bs-placement="right">
          <i class="fa fa-comments fa-3x"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="container" style="margin-top: -510px;">
    <div style="border-top: 60px solid pink;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  width: 70%;
    position: relative; margin-left: 200px;">
      <h1 style="margin-top: -55px; font-family: 'News Gothic MT'; color: #FFFDFD; text-align: center;text-decoration-style: wavy;">Аудио звуци за смирување</h1>
    </div>
    </hr>
    <div class="row" style="margin-left: 250px;">
      <div class="col-sm-6" th:each="a : ${audios1}">
        <div class="card" style="width: 20rem; height: 28rem; background-color: #333333; color: white">
          <img class="card-img-top" th:src="${a.image_url}"/>
          <div class="card-body" style="margin-top: -10px;">
            <h5 class="card-title" th:text="${a.title}"></h5>
            <p class="card-text" style="font-size: 10px;" th:text="${a.description}"></p>
            <p class="card-text" style="font-size: 10px;">Времетраење: <th:block th:text="${a.duration}"></th:block> min</p>
            <div class="row">
              <p style="font-size: 10px; margin-left: 15px;">Број на ѕвездички: </p><small th:text="${a.stars}"></small>
              <button style="margin-left: 10px; background-color: white; color: #D8697F"><i class="fa fa-heart"></i></button>
              <form method="POST" th:action="@{'/calming-sounds/{id}' (id=${a.id})}">
                <button type="submit" style="background-color: white; color: #D8697F"><i class="fa fa-play-circle"></i></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="row" style="margin-left: 250px;">
      <div class="col-sm-6" th:each="a : ${audios2}">
        <div class="card" style="width: 20rem; height: 28rem; background-color: #333333; color: white">
          <img class="card-img-top" th:src="${a.image_url}"/>
          <div class="card-body" style="margin-top: -10px;">
            <h5 class="card-title" th:text="${a.title}"></h5>
            <p class="card-text" style="font-size: 10px;" th:text="${a.description}"></p>
            <p class="card-text" style="font-size: 10px;">Времетраење: <th:block th:text="${a.duration}"></th:block> min</p>
            <div class="row">
              <p style="font-size: 10px; margin-left: 15px;">Број на ѕвездички: </p><small th:text="${a.stars}"></small>
              <button style="margin-left: 10px; background-color: white; color: #D8697F"><i class="fa fa-heart"></i></button>
              <form method="POST" th:action="@{'/calming-sounds/{id}' (id=${a.id})}">
                <button type="submit" style="background-color: white; color: #D8697F"><i class="fa fa-play-circle"></i></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
