<div class="wrapper">
    <div class="container">
        <div class="row" style="border-top: 50px solid #48a1af;;
                    border-left: 50px solid #48a1af;
                    border-right: 50px solid #48a1af;
                    width: 70%;
                    position: relative; margin-left: 200px; margin-bottom: 20px; border-radius: 5rem;">
            <h2 style="position: absolute;text-align: center; margin-top: -50px; padding-top: 10px;">Упатство за користење на апликацијата iCare</h2>
        </div>
        <div style="background-color: #333333; color: white">
            <div class="row" style="justify-content: center">
                <h3 style="color: #DAABB9; margin-bottom: 10px;"><b>Добредојдовте во светот на iCare!</b></h3>
            </div>
            <div class="row" style="margin-left: 80px">
                <div class="col-md-5" style="background-color: white; color: #D8697F; margin: 15px 15px 15px 15px; border-radius: 3rem; padding-top: 15px;">
                    <p>Доколку сакате да ги користите услугите и да водите секојдневна анализа на вашето ментално
                        здравје, креирајте го вашиот профил со кликање на копчето “Регистрирај се“. Понатаму следете ги
                        чекорите и пополнете ги соодветните полиња за успешно креирање на вашиот профил. </p>
                    <a href="/register" style="margin-left: 120px; margin-top: 20px;"><button class="btn" style="background-color: #DAABB9; color: #FFFDFD">Регистрирај се</button></a>
                </div>
                <div class="col-md-5" style="background-color: white; color: #D8697F; margin: 15px 15px 15px 15px; border-radius: 3rem; padding-top: 15px;">
                    <p>Услугите кои ги нуди оваа апликација се: Аудио звуци за смирување, вежби за дишење, дневник за
                        ментално здравје, боење на слика, форум за споделување на искуства и совети. Овие активности се
                        наведени во навигациското мени од лева страна на вашиот екран на почетната страна. Соодветната
                        услуга ја избирате со клик на соодветната икона.</p>
                    <a href="/home" style="margin-left: 120px; margin-bottom: 10px;"><button class="btn" style="background-color: #DAABB9; color: #FFFDFD; margin-bottom: 10px;">Оди на почетна страна</button></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" style="background-color: white; color: #D8697F; margin: 15px 100px 15px 15px; border-radius: 3rem; padding-top: 15px; margin-left: 110px;">
                    <p>При избор на активноста „Вежби за дишење“ добивате неколку нивоа со вежби. Откако ќе го
                        пронајдете вашето ниво, истото може да го пристапите со клик на иконата “Next”.</p>
                    <a href="/breathing-exercises" style="margin-left: 100px; margin-bottom: 10px;"><button class="btn" style="background-color: #DAABB9; color: #FFFDFD; margin-bottom: 10px;">Вежби за дишење</button></a>
                </div>
                <div class="col-md-4" style="background-color: white; color: #D8697F; margin: 15px 15px 15px 15px; border-radius: 3rem; padding-top: 15px;">
                    <p>При избор на активноста „Аудио звуци за смирување“ добивате листа со понудени аудио звуци кои
                        можете да ги изберете со клик на иконата “Play”.</p>
                    <a href="/calming-sounds" style="margin-left: 100px;"><button class="btn" style="background-color: #DAABB9; color: #FFFDFD; margin-bottom: 10px;">Аудио звуци за смирување</button></a>
                </div>
                <div class="col-md-4" style="background-color: white; color: #D8697F; margin: 15px 15px 15px 15px; border-radius: 3rem; padding-top: 15px;">
                    <p>Доколку сакате одредено аудио да го зачувате во вашата плејлиста со омилени аудио звуци, истото
                        може да се направи со клик на иконата “Heart”.</p>
                </div>
                <div class="col-md-4" style="background-color: white; color: #D8697F; margin: 15px 15px 15px 15px; border-radius: 3rem; padding-top: 15px;">
                    <p>Доколку сакате да ја промените активноста, секогаш во левиот агол на вашиот екран го имате
                        лизгачкото мени со останатите опции.</p>
                </div>
                <div class="col-md-3" style="background-color: white; color: #D8697F; margin: 15px 15px 15px 15px; border-radius: 3rem; padding-top: 15px;">
                    <p>Со клик на логото на самата страна добивате веднаш пристап до почетната страна.</p>
                </div>
            </div>
            <div class="row">

            </div>
        </div>
    </div>
</div>








